.containerCards {
  display: flex;
  gap: 64px;
}

.location {
  margin-top: 47px;
}

.titleLocation {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.geoLocation {
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  margin-top: 8px;
  width: 360px;
  height: 56px;
  background: #f7f7f7;
}

.filters {
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.titleEquipment {
  display: inline-flex;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 32px;
  padding-bottom: 24px;
  text-decoration: none;
  color: #101828;
}

.titleEquipment::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 360px;
  height: 1px;
  background-color: #dadde1;
}

.filtersContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 360px;
  margin-top: 24px;
  gap: 12px;
}

.visuallyHidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.filtersLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  width: 112px;
  height: 96px;
  text-align: center;
  letter-spacing: -0.01em;
  border-radius: 10px;
  border: 1px solid #dadde1;
}

.filtersLabels:hover {
  border-color: #fac2c2;
}

input[type="radio"]:checked + .filtersLabels {
  border-color: #e44848;
}

.icon {
  width: 32px;
  height: 32px;
}

input:checked + .filtersLabels {
  border-color: #e44848;
}

.btn {
  margin-top: 40px;
  border: 2px solid transparent;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  transition: background-color 0.3s ease;
  background-color: #e44848;
  color: #fff;
}

.btn:hover {
  border: none;
  background-color: #d84343;
}

.boxCard {
  display: flex;
  border: 1px solid #dadde1;
  border-radius: 20px;
  margin-top: 47px;
  padding: 24px;
  width: 100%;
  height: 368px;
}

.image {
  margin-right: 24px;
}

/* .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #101828;
}

.amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #101828;
}

.reviews {
  display: flex;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
}

.descReviews {
  margin-left: 4px;
  margin-right: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
}

.descLocation {
  margin-left: 4px;
  line-height: 1.5;
  color: #101828;
}

.text {
  margin: 24px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.btnMore {
  border: 2px solid transparent;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  transition: background-color 0.3s ease;
  background-color: #e44848;
  color: #fff;
}

.btnMore:hover {
  border: none;
  background-color: #d84343;
}
