.features {
  position: absolute;
  top: 92px;
  display: flex;
  border-radius: 10px;
  padding: 44px 80px;
  width: 631px;
  height: 588px;
  width: 631px;
  height: 588px;
  background: #f7f7f7;
}
