.header {
  margin-top: 48px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #101828;
}

.reviews {
  display: flex;
  align-items: center;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
}

.descReviews {
  margin-left: 4px;
  margin-right: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
}

.descLocation {
  margin-left: 4px;
  line-height: 1.5;
  color: #101828;
}

.amount {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: #101828;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 28px 0;
}

.description {
  width: 100%;
  color: #475467;
}

.listNavLinks {
  display: flex;
  gap: 40px;
  position: absolute;
  top: 708px;
}

.link {
  display: inline-flex;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
  text-decoration: none;
  color: #101828;
}

.link::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1280px;
  height: 1px;
  background-color: #dadde1;
}
