.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0 -64px;
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 64px;
  height: 72px;
  background: #f7f7f7;
}

.logoImage {
  padding-right: 450px;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}

.link {
  display: inline-flex;
  text-decoration: none;
}

.active {
  color: #d84343;
}
