.description {
  position: absolute;
  left: 64px;
  top: 332px;
}

.appBackground {
  background-image: url("/images/background/BGHome-TravelTrucks_desk.png");
  background: rgba(0, 0, 0, 0.2), url("/images/background/BGHome-TravelTrucks_desk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  margin: 0 -64px;
}

.appBackground img {
  width: 100%;
  display: block;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
  color: #f7f7f7;
}

.subtitle {
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 40px;
  line-height: 1.33;
  color: #f7f7f7;
}

.btn {
  border: 2px solid transparent;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #e44848;
  color: #fff;
}

button:hover {
  border: none;
  background-color: #d84343;
}
